@{
    Layout = "_Layout";
}
<h1>Welcome! </h1>
<h3>Easily keep track of all your vendors and their orders </h3>
<a href='/vendors'> See list of vendors </a>
<br>
<a href='/vendors/new'> Add a new Vendor</a>