@{
    Layout = "_Layout";
}
<h1>Welcome! Keep track of your vendors and orders the most straightforward way. </h1>
<a href='/vendors'> See list of vendors </a>
<br>
<a href='/vendors/new'> Add a new Vendor</a>